dotenv # || echo "direnv: to enable environment setup, please create a .env file"; exit  # load local config

# load any necessary modules
for mod in $MODULES; do
    module load $mod
done

# we use anaconda for simple, straightforward env portability
layout anaconda ./.venv

export PYTHONPATH="$PWD/src:$PYTHONPATH"
