# HOOMD output, if any ...
*.gsd

# dotenv to hide secrets locally
.env

# python virtual environment
.venv
__pycache__
*.pyc

# hoomd
.build

# working state of conda environment, periodically created
droplet_environment.yml

# snakemake
.snakemake

# slurm output
*.out

# image output
*.png
