# HOOMD output, if any ...
*.gsd
*.log

# dotenv to hide secrets locally
.env

# python virtual environment
.venv
__pycache__
*.pyc
.mypy_cache

# hoomd
.build

# working state of conda environment, periodically created
droplet_environment.yml

# snakemake
.snakemake

# slurm output
*.out

# image output
*.png

# any analysis output
*.npy
*.parquet
*.pkl

build

# animations
*.gif
*.mp4
*.mov
*.avi

# signac projects
workflows/**/root
workflows/**/workspace
experiments/**/workspace


optix

*.nsys-rep
.pytest_cache

view

figures

target